extends common

append head
	title Configuration
	link(rel='stylesheet', href='out/config.css')
	script(type='text/javascript', src='out/config.js')

append body
	h1 Keyboard Shortcuts for the Score Keeper
	aside These will only affect this machine
	aside Click on the box and press the desired button
	
	.key
		label Blue Side, Serving
		input#sc00(type='submit', value='')

	.key
		label Blue Side, Standby
		input#sc01(type='submit', value='')

	.key
		label Green Side, Serving
		input#sc10(type='submit', value='')

	.key.last
		label Green Side, Standby
		input#sc11(type='submit', value='')

	h1 Update Player Information
	aside An inactive player will not appear in the list
		| when creating games.

	.player
		select#players

	.player
		button#addNewPlayer Add New Player

	.player
		label(for='name') Name:
		input#name(type='text')

	.player
		label Active?
		button#active