extends common

append head
	title Start a new Tournament
	script(type='text/javascript', src='out/createTournament.js')
	link(rel='stylesheet', href='out/createTournament.css')

append body
	h1 Start A New Tournament
	p Title:
		input#title

	p Type:
		select#type

	button#create Create

	p Select players participating in tournament

	#players


