!!! html
html
	head
		title Master Index
	body
		h1 Master Index

		:markdown
			[/scorekeeper](/scorekeeper)
			- The scorekeeping page

		:markdown
			[/config](/config)
			- A configuration utility (for the game keeper)

		:markdown
			[/reports](/reports)
			- The Score viewing and reporting page

		:markdown
			[/createTournament](/createTournament)
			- Start a new tournment!

		:markdown
			[/log/errors](/log/errors)
			- View the server error logs

		:markdown
			[/log/out](/log/out)
			- View the server standard output logs

		:markdown
			[/log/db](/log/db)
			- View the database logs

		:markdown
			[/fatal](/fatal)
			- Terminate and restart the server

		//- :markdown
			[/upgrade](/upgrade)
			- Upgrade the application from the git repo.
			Will cause server to restart automatically
