extends common

append head
	title Reports
	link(rel='stylesheet', href='out/reports.css')
	script(type='text/javascript', src='out/reports.js')

append body
	table: tr: td
		h1 Coming soon!
		p  Scores!
		p  Reports!
		p  Statistics!
		p  All you've ever dreamed!*
			aside *Don't count on this one