extends common

append head
	title Reports
	link(rel='stylesheet', href='out/reports.css')
	script(type='text/javascript', src='out/reports.js')

append body
	table#header: tr
		th.name Player
		th.games Games
		th.win Wins
		th.lose Losses
		th.scoreWon Points
		th.scoreLost Lost
		th.scoreRatio Ratio
		th.serveGood Serves
		th.serveBad Misses
		th.serveRatio Ratio


	#container
		table#players
