extends common

append head
	title The Score Keeper
	script(type='text/javascript', src='lib/soundmanager2.min.js')
	script(type='text/javascript', src='out/scorekeeper.js')
	link(rel='stylesheet', href='out/scorekeeper.css')

append body
	section#setup
		table
			tr
				td#slot00.team.left
				td(rowspan='2')
					#begin Begin
				td#slot10.team.right
			tr
				td#slot01.team.left
				td#slot11.team.right
		#players

	section#game
		#cancelGame
			| Cancel Game <span>X</span>
		
		table.teamContainer.left
			tr: td#standby0
			tr: td#serve0
		table.teamContainer.right
			tr: td#serve1
			tr: td#standby1

		.scoreContainer
			table.scoreTable
				tr
					td#score0.score.left
					td#score1.score.right
				tr
					td#undoScore.button Undo Last Score
					td#badServe.button Bad serve

	section#gameover
		table
			tr: td
				h2#winTitle
				h1#winners
			tr: td.buttons
				#gameOverUndo Undo Last Score
				#playAnotherMatch Play Another Match
				#returnToSetup Return to Player Selection


