body{ text-align: center; font-size: 20px;}

p { margin: 0.2em; }
input{ margin-left: 0.3em; }
select{ min-width: 200px; margin-left: 0.3em; }

#create{ width: 150px; margin: 0.2em; }

h1{ margin: 0.2em; font-size: 2em; }

#players{
  clear: both;
  width: 100%;
}
#players div{
  min-width: 17.5%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  padding: 0.5em 0;
  border: 2px solid rgba(0,0,0,0.5);
  margin: 1em 0 0 2%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255,255,255, 0.4);
}

#players .selected{background-color: #6CA2D8;}
