h1 { margin: 0; }

table {
  vertical-align: middle;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  font-weight: normal;
  padding: 0.25em 0.5em;
}

.page{ overflow: auto; }

.centerizer{
  height: 100%;
  width: 100%;
}

#settingsLink {
  font-size: 1.8em;
  position: fixed;
  top: 0;
  right: 0.25em;
  z-index: 1;
  padding: 0.2em;
  float: left;
  margin: 0;
  cursor: pointer;
  color: #222;
}
#settingsLink:hover { color: #444; }


#allGames table { margin: 1em auto; }
#allGames tr:nth-child(even){ background-color: rgba(0,0,0,0.05); }

#allGames .players th { border-bottom: 1px solid black; }
#allGames .players tbody tr:hover{ color: #800; cursor: pointer; }
#allGames .players td:not(.name){ font-family: Menlo, monospace; padding: 0.25em 1.5em;}

#allGames .name{ padding: 0.25em 0.5em; text-align: left;}

#allGames .games,
#allGames .scoreTotal,
#allGames .serveTotal { border-left: 1px solid rgba(0,0,0,0.3); }

#allGames .bestGames th { border-right: 1px solid black; }
#allGames .bestGames .team { margin-bottom: 0.25em; }
#allGames .bestGames .score,
#allGames .bestGames .date{ font-family: Menlo, monospace; display: inline-block; margin: 0 1em;}

#settings { text-align: center; }
#settings .checkbox{ margin: 1em; }
