* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

body{ font-size: 30px; }

#playerPage #players div.selected,
#game.leftServing .score.left { background-color: #6CA2D8; }
#game.rightServing .score.right { background-color: #6CD8A2; }

#playerPage .buttonSection{
   position: absolute;
   top: auto; right: 1em; bottom: 1em; left: 1em;
}
#playerPage .begin {
  text-align: center;
  background-color: #aaa;
  border: 5px solid #333;
  margin: 0 auto;
  padding: 1em 0;
  cursor: pointer;
  width: 60%;
}
#playerPage #players{
  position: absolute;
  top: 0; right: 0; bottom: 5em; left: 0;
  overflow: auto;
}
#playerPage #players div{
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 17.5%;
  padding: 0.5em 0;
  border: 1px solid black;
  margin: 1em 0 0 2%;
  text-align: center;
  cursor: pointer;
}


#teamPage {
  width: 60%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}
#teamPage .team {
  background: rgba(0,0,0,0.1);
  margin: auto;
  padding: 1em 1em 1em 0;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#teamPage .insignificant{
  opacity: 0.5;
}
#teamPage .score{
  width: 5em;
  font-size: 2.5em;
  font-family: 'Palatino Linotype', sans-serif;
}
#teamPage .cancel{
  text-align: center;
  order: 1;
  background-color: rgba(0,0,0,0.2);
  margin-top: 1em;
  padding: 1em 0;
  cursor: pointer;
}


#game{
  top: 1em; bottom: 1em;
  display: flex;
  align-items: stretch;
}
#game .cancel{
  position: absolute;
  top: -1.2em; right: 0.3em; bottom: auto; left: auto;
  opacity: 0.5;
  cursor: pointer;
  font-size: 0.8em;
}
#game .cancel:hover { opacity: 1; color: #D00; }
#game .teamContainer{
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#game .teamContainer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-size: 2.2em;
  font-weight: 400;
  cursor: pointer;
}
#game .teamContainer > div:hover{ background-color: rgba(0,0,0,0.3); }

#game .infoContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: center;
  align-items: stretch;
}
#game .message {
  flex: 1 100%;
  font-size: 1.2em;
  height: 1.2em;
  max-height: 1.2em;
  border-bottom: 2px solid black;
}
#game .scoreContainer {
  display: flex;
  flex: 1;
}
#game .score.left { border-right: 2px solid black; }

#game .score {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  font-size: 10em;
  cursor: pointer;
}
#game .buttonContainer { display: flex; }
#game .button{
  flex: 1 45%;
  font-size: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  cursor: pointer;
  background-color: #ccc;
  border-top: 2px solid black;
}
#game .button:first-child { border-right: 2px solid black; }
#game .button:hover{ background-color: #aaa; }


#gameover{
  top: 1em; right: 1em; bottom: 1em; left: 1em;
  text-align: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#gameover .winTitle { margin: 0.2em; font-size: 1em;}
#gameover .winners { margin: 0.2em; font-size: 3.5em;}
#gameover .buttonSection div{
    width: 14em;
    font-size: 1.2em;
    background-color: #aaa;
    border: 3px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1.5em auto;
    cursor: pointer;
}
#gameover .buttonSection div:hover{ background-color: #888; }
#gameover .buttonSection .undo,
#gameover .buttonSection .returnToSetup{font-size: 0.75em;}


#configure {
  color: black;
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  font-size: 2em;
  text-decoration: none;
  opacity: 0.75;
  cursor: pointer;
}
